In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load
school_data_file = "Resources/schools_complete.csv"
student_data_file = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(school_data_file)
student_df = pd.read_csv(student_data_file)

In [4]:
# Combine the data into a single dataset. # Combine the data into a single dataset
school_data = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])

In [5]:
# Calculate the total number of schools
Total_Schools = len(school_data["School ID"].unique())
print(f"{Total_Schools} Total Schools")

15 Total Schools

In [6]:
# Calculate the Total Budget
SchoolBudget = school_data["budget"].unique()
Total_Budget = SchoolBudget.sum()
print(f"${Total_Budget} Total Budget")

$24649428 Total Budget

In [7]:
# Calculate the total number of students
Total_Students = len(school_data["Student ID"].unique())
print(f"{Total_Students} Total Students")

39170 Total Students

In [8]:
# Calculate the average math score
Average_Math_Score = school_data["math_score"].mean()
print(f"Average Math Score = {Average_Math_Score}")

Average Math Score = 78.98537145774827

In [9]:
# Calculate the average reading score
Average_Reading_Score = school_data["reading_score"].mean()
print(f"Average Reading Score = {Average_Reading_Score}")

Average Reading Score = 81.87784018381414

In [10]:
# Calculate the percentage of students with a passing math score (70 or greater)
Passing_Math = school_data.loc[school_data["math_score"]>=70,:]
Percent_Pass_Math = len(Passing_Math)/Total_Students * 100
print(f"{round(Percent_Pass_Math, 2)}% of students are passing math.")

74.98% of students are passing math.

In [11]:
# Calculate the percentage of students with a passing reading score (70 or greater)
Passing_Reading = school_data.loc[school_data["reading_score"]>=70,:]
Percent_Pass_Reading = len(Passing_Reading)/Total_Students * 100
print(f"{round(Percent_Pass_Reading, 2)}% of students are passing reading.")

85.81% of students are passing reading.

In [12]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
Overall_Pass = school_data.loc[(school_data["math_score"]>=70) & (school_data["reading_score"]>=70), :]
Percent_Pass = len(Overall_Pass)/Total_Students * 100
print(f"{round(Percent_Pass, 2)}% of students are passing overall.")

65.17% of students are passing overall.

In [13]:
# Create a dataframe to hold the above results
District_Summary = pd.DataFrame({"Total Schools":[Total_Schools], "Total Students":[Total_Students], "Total Budget":[Total_Budget],
                                 "Average Math Score":[Average_Math_Score],"Average Reading Score":[Average_Reading_Score],
                                 "% Passing Math":[Percent_Pass_Math],"% Passing Reading":[Percent_Pass_Reading], "% Overall Passing":[Percent_Pass]})
District_Summary.style.format({'Total Budget':'${0:,.2f}', 'Total Students':'{0:,}', 'Average Math Score':'{:.2f}', 'Average Reading Score':'{:.2f}', '% Passing Math':'{:.2f}','% Passing Reading':'{:.2f}', '% Overall Passing':'{:.2f}'})

In [14]:
# Create an overview table that summarizes key metrics about each school
School_Group = school_data.groupby(["school_name"])
School_Summary = School_Group.mean()
School_Summary = School_Summary.rename(columns={"reading_score":"Average Reading Score", "math_score":"Average Math Score", "budget":"Total School Budget" })
School_Summary = School_Summary[["Total School Budget", "Average Reading Score", "Average Math Score" ]]

In [15]:
# Add total students and school type columns
School_Summary["Total Students"] = School_Group["Student ID"].count()
School_Summary["School Type"] = School_Group["type"].last()

In [16]:
# Calculate per Student Budget
School_Summary["Per Student Budget"] = School_Group["budget"].mean()/School_Group["Student ID"].count()

In [17]:
# Calculate % Passing Math
PassMath = school_data.loc[school_data["math_score"]>=70,:]
MathGroup = PassMath.groupby(["school_name"])
School_Summary["% Passing Math"] = MathGroup["Student ID"].count()/School_Group["Student ID"].count() * 100
# Calculate % Passing Reading
PassRead = school_data.loc[school_data["reading_score"]>=70,:]
ReadGroup = PassRead.groupby(["school_name"])
School_Summary["% Passing Reading"] = ReadGroup["Student ID"].count()/School_Group["Student ID"].count() * 100
# Calculate Overall Passing
Pass = school_data.loc[(school_data["reading_score"]>=70) & (school_data["math_score"]>=70) ,:]
PassGroup = Pass.groupby(["school_name"])
School_Summary["% Overall Passing"] = PassGroup["Student ID"].count()/School_Group["Student ID"].count() * 100

In [18]:
# Rearrange Columns
School_Summary = School_Summary[["School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math","% Passing Reading" ,"% Overall Passing"]]
School_Summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [19]:
# Sort and display the top five performing schools by % overall passing.
School_Summary = School_Summary.sort_values("% Overall Passing", ascending=False)
School_Summary.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [20]:
# Sort and display the five worst-performing schools by % overall passing.
School_Summary = School_Summary.sort_values("% Overall Passing")
School_Summary.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [21]:
# Create a series for each grade
grade9=school_data.loc[school_data["grade"]=="9th", :]
grade10=school_data.loc[school_data["grade"]=="10th", :]
grade11=school_data.loc[school_data["grade"]=="11th", :]
grade12=school_data.loc[school_data["grade"]=="12th", :] 
# Group each series by school
grade9_group = grade9.groupby(["school_name"])
grade10_group = grade10.groupby(["school_name"])
grade11_group = grade11.groupby(["school_name"])
grade12_group = grade12.groupby(["school_name"])

In [22]:
# Calculate average math score for each grade and put in dataframe
Math_Summary = pd.DataFrame({"9th Grade":grade9_group["math_score"].mean()})
Math_Summary["10th Grade"] = grade10_group["math_score"].mean()
Math_Summary["11th Grade"] = grade11_group["math_score"].mean()
Math_Summary["12th Grade"] = grade12_group["math_score"].mean()
Math_Summary = Math_Summary.round(2)
Math_Summary

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School         77.08       77.00       77.52       76.49
Cabrera High School        83.09       83.15       82.77       83.28
Figueroa High School       76.40       76.54       76.88       77.15
Ford High School           77.36       77.67       76.92       76.18
Griffin High School        82.04       84.23       83.84       83.36
Hernandez High School      77.44       77.34       77.14       77.19
Holden High School         83.79       83.43       85.00       82.86
Huang High School          77.03       75.91       76.45       77.23
Johnson High School        77.19       76.69       77.49       76.86
Pena High School           83.63       83.37       84.33       84.12
Rodriguez High School      76.86       76.61       76.40       77.69
Shelton High School        83.42       82.92       83.38       83.78
Thomas High School         83.59       83.09       83.50       83.50
Wilson High School         83.09       83.72       83.20       83.04
Wright High School         83.26       84.01       83.84       83.64

In [23]:
# Calculate average reading score for each grade and put in dataframe
Read_Summary = pd.DataFrame({"9th Grade":grade9_group["reading_score"].mean()})
Read_Summary["10th Grade"] = grade10_group["reading_score"].mean()
Read_Summary["11th Grade"] = grade11_group["reading_score"].mean()
Read_Summary["12th Grade"] = grade12_group["reading_score"].mean()
Read_Summary = Read_Summary.round(2)
Read_Summary

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School         81.30       80.91       80.95       80.91
Cabrera High School        83.68       84.25       83.79       84.29
Figueroa High School       81.20       81.41       80.64       81.38
Ford High School           80.63       81.26       80.40       80.66
Griffin High School        83.37       83.71       84.29       84.01
Hernandez High School      80.87       80.66       81.40       80.86
Holden High School         83.68       83.32       83.82       84.70
Huang High School          81.29       81.51       81.42       80.31
Johnson High School        81.26       80.77       80.62       81.23
Pena High School           83.81       83.61       84.34       84.59
Rodriguez High School      80.99       80.63       80.86       80.38
Shelton High School        84.12       83.44       84.37       82.78
Thomas High School         83.73       84.25       83.59       83.83
Wilson High School         83.94       84.02       83.76       84.32
Wright High School         83.83       83.81       84.16       84.07

In [24]:
# Create a table that breaks down school performances based on average Spending Ranges (Per Student).
Bins = [0, 585, 629.99, 644.99, 656 ]
Labels = ["<584", "585-630", "630-645", ">645"]
School_Summary["Spending Ranges (Per Student)"]=pd.cut(School_Summary["Per Student Budget"], Bins, labels=Labels)
budget_group = School_Summary.groupby(["Spending Ranges (Per Student)"])
budget_Summary = budget_group[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()
budget_Summary = budget_Summary.round(2)
budget_Summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<584,83.46,83.93,93.46,96.61,90.37
585-630,81.90,83.16,87.13,92.72,81.42
630-645,78.52,81.62,73.48,84.39,62.86
>645,77.00,81.03,66.16,81.13,53.53

In [25]:
# Create a table that breaks down school performances based on school size.
bins = [0, 1000, 2000, 5000 ]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
School_Summary["School Size"]=pd.cut(School_Summary["Total Students"], bins, labels=labels)
size_group = School_Summary.groupby(["School Size"])
Size_Summary = size_group[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()
Size_Summary = Size_Summary.round(2)
Size_Summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.82,83.93,93.55,96.10,89.88
Medium (1000-2000),83.37,83.86,93.60,96.79,90.62
Large (2000-5000),77.75,81.34,69.96,82.77,58.29

In [26]:
# Create a table that breaks down school performances based on school type.
type_group = School_Summary.groupby(["School Type"])
Type_Summary = type_group[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()
Type_Summary = Type_Summary.round(2)
Type_Summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62,96.59,90.43
District,76.96,80.97,66.55,80.80,53.67