In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load
school_data_file = "Resources/schools_complete.csv"
student_data_file = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(school_data_file)
student_df = pd.read_csv(student_data_file)
school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
# Combine the data into a single dataset. # Combine the data into a single dataset
school_data = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])

school_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
# Calculate the total number of schools
Total_Schools = len(school_data["School ID"].unique())
print(f"{Total_Schools} Total Schools")

15 Total Schools

In [6]:
# Calculate the Total Budget
SchoolBudget = school_data["budget"].unique()
Total_Budget = SchoolBudget.sum()
print(f"${Total_Budget} Total Budget")

$24649428 Total Budget

In [7]:
# Calculate the total number of students
Total_Students = len(school_data["Student ID"].unique())
print(f"{Total_Students} Total Students")

39170 Total Students

In [8]:
# Calculate the average math score
Average_Math_Score = school_data["math_score"].mean()
Average_Math_Score

78.98537145774827

In [9]:
# Calculate the average reading score
Average_Reading_Score = school_data["reading_score"].mean()
Average_Reading_Score

81.87784018381414

In [10]:
# Calculate the percentage of students with a passing math score (70 or greater)
Passing_Math = school_data.loc[school_data["math_score"]>=70,:]
Percent_Pass_Math = len(Passing_Math)/Total_Students * 100
Percent_Pass_Math

74.9808526933878

In [11]:
# Calculate the percentage of students with a passing reading score (70 or greater)
Passing_Reading = school_data.loc[school_data["reading_score"]>=70,:]
Percent_Pass_Reading = len(Passing_Reading)/Total_Students * 100
Percent_Pass_Reading

85.80546336482001

In [12]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
Overall_Pass = school_data.loc[(school_data["math_score"]>=70) & (school_data["reading_score"]>=70), :]
Percent_Pass = len(Overall_Pass)/Total_Students * 100
Percent_Pass

65.17232575950983

In [13]:
# Create a dataframe to hold the above results
District_Summary = pd.DataFrame({"Total Schools":[Total_Schools], "Total Students":[Total_Students], "Total Budget":[Total_Budget],
                                 "Average Math Score":[Average_Math_Score],"Average Reading Score":[Average_Reading_Score],
                                 "% Passing Math":[Percent_Pass_Math],"% Passing Reading":[Percent_Pass_Reading], "% Overall Passing":[Percent_Pass]})
District_Summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [14]:
School_Group = school_data.groupby(["school_name"])
School_Summary = School_Group.mean()
School_Summary = School_Summary.rename(columns={"reading_score":"Average Reading Score", "math_score":"Average Math Score", "budget":"Total School Budget" })
School_Summary = School_Summary[["Total School Budget", "Average Reading Score", "Average Math Score" ]]

In [15]:
School_Summary["Total Students"] = School_Group["Student ID"].count()
School_Summary["School Type"] = School_Group["type"].unique()
School_Summary.head()

,Total School Budget,Average Reading Score,Average Math Score,Total Students,School Type
school_name,,,,,
Bailey High School,3124928.0,81.033963,77.048432,4976,[District]
Cabrera High School,1081356.0,83.975780,83.061895,1858,[Charter]
Figueroa High School,1884411.0,81.158020,76.711767,2949,[District]
Ford High School,1763916.0,80.746258,77.102592,2739,[District]
Griffin High School,917500.0,83.816757,83.351499,1468,[Charter]

In [16]:
# Calculate per Student Budget
School_Summary["Per Student Budget"] = School_Group["budget"].mean()/School_Group["Student ID"].count()

In [20]:
# Calculate % Passing Math
PassMath = school_data.loc[school_data["math_score"]>=70,:]
MathGroup = PassMath.groupby(["school_name"])
School_Summary["% Passing Math"] = MathGroup["Student ID"].count()/School_Group["Student ID"].count() * 100
# Calculate % Passing Reading
PassRead = school_data.loc[school_data["reading_score"]>=70,:]
ReadGroup = PassRead.groupby(["school_name"])
School_Summary["% Passing Reading"] = ReadGroup["Student ID"].count()/School_Group["Student ID"].count() * 100
# Calculate Overall Passing
Pass = school_data.loc[(school_data["reading_score"]>=70) & (school_data["math_score"]>=70) ,:]
PassGroup = Pass.groupby(["school_name"])
School_Summary["% Overall Passing"] = PassGroup["Student ID"].count()/School_Group["Student ID"].count() * 100

In [21]:
# Rearrange Columns
School_Summary = School_Summary[["School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math","% Passing Reading" ,"% Overall Passing"]]
School_Summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [24]:
# Sort and display the top five performing schools by % overall passing.
School_Summary = School_Summary.sort_values("% Overall Passing", ascending=False)
School_Summary.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,[Charter],1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,[Charter],1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,[Charter],2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,[Charter],962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [35]:
# Sort and display the five worst-performing schools by % overall passing.
School_Summary = School_Summary.sort_values("% Overall Passing")
School_Summary.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,[District],3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,[District],2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,[District],2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,[District],4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,[District],4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [36]:
# Create a series for each grade
grade9=school_data.loc[school_data["grade"]=="9th", :]
grade10=school_data.loc[school_data["grade"]=="10th", :]
grade11=school_data.loc[school_data["grade"]=="11th", :]
grade12=school_data.loc[school_data["grade"]=="12th", :] 
# Group each series by school
grade9_group = grade9.groupby(["school_name"])
grade10_group = grade10.groupby(["school_name"])
grade11_group = grade11.groupby(["school_name"])
grade12_group = grade12.groupby(["school_name"])

In [46]:
# Calculate average math score for each grade and put in dataframe
Math_Summary = pd.DataFrame({"9th Grade":grade9_group["math_score"].mean()})
Math_Summary["10th Grade"] = grade10_group["math_score"].mean()
Math_Summary["11th Grade"] = grade11_group["math_score"].mean()
Math_Summary["12th Grade"] = grade12_group["math_score"].mean()
Math_Summary

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986